//변수
$color-white: #fff;
$color-black: #000;

$color-grey: #ccc;
$color-grey-light: #efefef;
$color-red: #f00;
$color-blue: #00f;
$border-color: $color-blue;

//mixin
@mixin width-height-padding($w, $h, $p) {
  width: $w;
  height: $h;
  padding: $p;
}

@mixin pos-bas-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin pas-abs-center-horizontal() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin pas-abs-center-vertical() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%, -50%);
}

body {
  margin: 0;
  background-color: $color-grey-light;
  font-family: sans-serif;
}

//Nesting
.box {
  @include width-height-padding(300px, 300px, 20px);
  @include pas-abs-center-horizontal();

  &,
  .box-inner {
    border: 3px solid $border-color;
  }

  & .box-inner {
    @include width-height-padding(initial, 40px, 10px);

    background-color: $color-grey;

    & .box-inner-title {
      font-size: 20px;
      color: $color-white;
      background-color: rgba($color-black, 0.5);
    }
  }
}
