@import "abstracts/variables";
@import "abstracts/mixins";

body {
  margin: 0;
  background-color: $color-grey-light;
  font-family: sans-serif;
}

//Nesting
.box {
  @include width-height-padding(300px, 300px, 20px);
  @include pas-abs-center-horizontal();

  &,
  .box-inner {
    border: 3px solid $border-color;
  }

  & .box-inner {
    @include width-height-padding(initial, 40px, 10px);

    background-color: $color-grey;

    & .box-inner-title {
      font-size: 20px;
      color: $color-white;
      background-color: rgba($color-black, 0.5);
    }
  }
}
